.body-contact{
    background: black;
    width: 100%;
    height: 100vh;
    padding: 1px;
    
}

.contact-form{
    display: flex;
    justify-content: center;
    margin-top: 16vh;
    text-align: center;
    color: white;
    line-height: 35px;
    
}
label{
    font-size: 16px;
}
.inputbox{
    border-radius: 6px;
    padding: 1px;
    padding-left: 10px;
    margin-left: 1px;
    margin-bottom: 10px;
    width: 80%;
    background-color: rgb(238, 238, 238);
    
}
textarea{
    border-radius: 6px;
    padding: 5px;
    padding-left: 10px;
    margin-left: 1px;
    margin-bottom: 10px;
    border: 2px solid;
    background-color: rgb(238,238,238);

}
.sub-btn{
    margin-bottom: 50px;
    margin-top: 10px;
}