.Main-div{
    /* margin-top: 65px; */
    width: 80vw;
    height: 90vh;
    margin: 65px auto;
    text-align: justify;
    font-size: larger;
    box-shadow: 2px 2px 6px black;
    padding: 15px;
    color: black;
    
}

.about__container{
    height: 100vh;
    background: #eee;
    width: 100%;
    
}

p{
    word-spacing: 4px;
    line-height: 30px;
}